atom/*
!atom/config.cson
!atom/init.coffee
!atom/keymap.cson
!atom/packages.list
!atom/snippets.cson
!atom/styles.less

emacs.d/auto-save-list/*
emacs.d/packages/*
emacs.d/url/cache/*

mutt/temp/*
mutt/cache/*
mutt/muttrc

newsbeuter/cache.db

vim/bundle/*
vim/plugged/*
vim/spell/en.utf-8.add.spl
vim/tmp/*
