"*":
  "activate-power-mode":
    autoToggle: false
    comboMode:
      enabled: false
    particles: {}
    playAudio: {}
    screenShake: {}
  aligner:
    alignComments: true
  "aligner-php": {}
  "atom-beautify":
    general:
      _analyticsUserId: "88f1fbfd-145d-434f-b89f-a2b284139c21"
    html:
      indent_size: 2
      wrap_attributes_indent_size: 2
  "atom-clock":
    dateFormat: "HH:mm"
    showClockIcon: true
  "atom-html-preview":
    triggerOnSave: true
  "atom-material-ui":
    colors:
      accentColor: "#af0010"
      genAccent: true
      paintCursor: true
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-package-deps":
    ignored: []
  "atom-pair": {}
  "color-picker": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "vim-mode"
      "vim-surround"
      "vim-mode-plus-ex-mode"
      "welcome"
      "markdown-format"
      "atom-pair"
      "java-plus"
      "java-import-wiz"
      "java-generator"
      "java-classpath-registry"
      "autocomplete-java-minus"
      "autocomplete-java"
      "linter-javac"
      "file-header"
    ]
    packagesWithKeymapsDisabled: [
      "file-header"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  "cursor-history":
    flashOnLand: true
  editor:
    fontFamily: "FiraCode-Medium"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "ex-mode":
    splitbelow: true
    splitright: true
  "exception-reporting":
    userId: "5f1fd872-de33-9d23-b5da-da0fbe791e6c"
  "file-header":
    dateTimeFormat: "YYYY-MM-DD HH:mm:ss ZZ"
    email: "shoichiaizawa@gmail.com"
    license: "MIT"
    realname: "Shoichi Aizawa"
    username: "shoichiaizawa"
  "file-icons": {}
  "git-plus":
    general:
      _analyticsUserId: "531f1de0-9539-4faa-9854-c3bf2d523b05"
  jumpy:
    fontSize: 1
  "linter-ui-default": {}
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  "markdown-writer": {}
  metrics:
    userId: "1fb1a4b11cc74709a8f29f6ea5dd2b441a8e95cb"
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      codeglance: true
      codeglanceDecorationsZIndex: 0
      cursorline: false
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
    scrollAnimation: true
  "minimap-autohider": {}
  "minimap-selection":
    highlightCursorsLines: true
  "one-dark-ui": {}
  pigments:
    markerType: "native-dot"
  "platformio-ide-terminal":
    style: {}
    toggles:
      autoClose: true
  "regex-railroad-diagram": {}
  script: {}
  "terminal-plus":
    core: {}
  "todo-show": {}
  "tree-view":
    alwaysOpenExisting: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  "vim-mode":
    useSmartcaseForSearch: true
    wrapLeftRightMotion: true
  "vim-mode-plus":
    clearHighlightSearchOnResetNormalMode: true
    highlightSearch: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
    showHoverOnOperate: true
    showHoverSearchCounter: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
    statusBarModeStringStyle: "long"
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
    useSmartcaseForSearchCurrentWord: true
    wrapLeftRightMotion: true
  "vim-surround":
    pairs: [
      "()"
      "{}"
      "[]"
      "\"\""
      "''"
      "``"
      "{%%}"
      "<%%>"
    ]
  welcome:
    showOnStartup: false
